<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Practical Test">
        <classes>
            <class name="appium.Calculator">
                <methods>
                    <include name="verifyAddition"/>
                </methods>
            </class>
            <class name="restAssured.RestAssured">
                <methods>
                    <include name="test01"/>
                    <include name="test02"/>
                    <include name="test03"/>
                </methods>
            </class>
            <class name="selenium.SeleniumTest">
                <methods>
                    <include name="test01"/>
                    <include name="test02"/>
                    <include name="test03"/>
                    <include name="test04"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>